<div id="<%= dom_id knowledge_basis %>">
  <p>
    <strong>Header:</strong>
    <%= knowledge_basis.header %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= knowledge_basis.content %>
  </p>

</div>
