<% content_for :title, "Editing knowledge basis" %>

<h1>Editing knowledge basis</h1>

<%= render "form", knowledge_basis: @knowledge_basis %>

<br>

<div>
  <%= link_to "Show this knowledge basis", @knowledge_basis %> |
  <%= link_to "Back to knowledge bases", knowledge_bases_path %>
</div>
