<% content_for :title, "New knowledge basis" %>

<h1>New knowledge basis</h1>

<%= render "form", knowledge_basis: @knowledge_basis %>

<br>

<div>
  <%= link_to "Back to knowledge bases", knowledge_bases_path %>
</div>
